.search-bar-contents {
  display: flex;
  align-items: center;
}

.ec-icon {
  width: 10vw;
  margin-right: 50px;
}

.search-form {
  width: 50vw;
  height: 5vh;
  display: flex;
  margin-right: 200px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  height: 100%;
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #FFA500;
  padding: 3px;
}

.search-icon {
  width: 100%;
}

.cart-icon {
  width: 25px;
  margin-right: 50px;
}

.user-icon {
  width: 25px;
}

.history {
  color: black;
}
.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  background-color: #37475A;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
  margin-bottom: 5px;
}

.lists-left {
  display: flex;
  min-width: 200px;
  margin-left: 20px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: white;
}

.brand-list {
  text-decoration: none;
  color: white;
}

.lists-right {
  display: flex;
 
}

.user-list {
  align-items: flex-end;
}

.user-list  li {
  list-style: none;
  position: relative;
}

.user-list li li {
  height: 0;
  overflow: hidden;
  transition: .9s;
  font-style: italic; 
}

.user-list li:hover > ul > li {
  height: 2rem;
  overflow: visible;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: black;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: black;
  margin-right: 50px;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: black;
}

.sign-up {
  text-decoration: none;
  color: black;
  margin-right: 50px;
}